.mb-7-8 {
  margin-bottom: 7.8rem; }

.mt-7-8 {
  margin-top: 7.8rem; }

.mx-7-8 {
  margin-right: 7.8rem;
  margin-left: 7.8rem; }

.my-7-8 {
  margin-bottom: 7.8rem;
  margin-top: 7.8rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mt-8 {
  margin-top: 8rem; }

.mx-8 {
  margin-right: 8rem;
  margin-left: 8rem; }

.my-8 {
  margin-bottom: 8rem;
  margin-top: 8rem; }

.mb-9-2 {
  margin-bottom: 9.2rem; }

.mb-12 {
  margin-bottom: 12rem; }

.mt-12 {
  margin-top: 12rem; }

.mx-12 {
  margin-right: 12rem;
  margin-left: 12rem; }

.my-12 {
  margin-bottom: 12rem;
  margin-top: 12rem; }

.show {
  display: block; }

.hide {
  display: none !important; }

.section-portfolio img:hover {
  transform: scale(1.05) translateY(-0.05rem);
  transition: all .2s; }

.section-portfolio img:hover :not(:hover) {
  transform: scale(0.95); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Book.eot");
  src: url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype"), url("../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal; }

body {
  font-family: 'CircularStd', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.81);
  background-color: #000000;
  padding: 6rem 15rem; }

.heading__email--text {
  font-size: 2.4rem; }

.heading__large {
  font-size: 4.5rem; }

.heading__large--middle {
  color: #ffffff; }

.footer__large {
  font-size: 3.6rem; }

.footer__copyright {
  text-align: center;
  color: #ffffff; }
  .footer__copyright h1 {
    font-size: 1.8rem; }
    .footer__copyright h1 span {
      display: block; }
      .footer__copyright h1 span a {
        text-decoration: none;
        color: #ffffff; }

@media screen and (max-width: 375px) {
  body {
    padding: 0.6rem 1.5rem; } }

@media screen and (min-width: 376px) and (max-width: 768px) {
  body {
    padding: 1.2rem 3rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }

::after {
  content: "";
  display: table;
  clear: both; }

[class^='col-'] {
  float: left; }
  [class^='col-']:not(:last-child) {
    margin-right: 3rem; }

.col-1-of-2 {
  width: calc((100% - 3rem)/2);
  float: left; }
  .col-1-of-2:not(:last-child) {
    margin-right: 3rem; }

.col-1-of-3 {
  width: calc((100% - (2 * 3rem))/3); }

.footer__soc-media {
  width: 27.8rem;
  margin: 9.2rem auto 7.8rem auto; }
  .footer__soc-media img {
    width: 4.2rem;
    height: 4.2rem; }

.col-1-of-5 {
  width: calc((100% - (4 * 3rem))/5);
  text-align: center;
  position: relative;
  margin: 0 auto; }
  .col-1-of-5 img {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.col-1-of-6 {
  width: calc((100% - (5 * 3rem))/6);
  text-align: center;
  position: relative; }
  .col-1-of-6 img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

@media screen and (max-width: 425px) {
  .row:not(:last-child) {
    margin-bottom: 0; }
  .col-1 {
    width: 100%; }
  .col-1-of-2 {
    text-align: center;
    position: relative;
    height: 11.2rem; }
    .col-1-of-2 img {
      width: 50%;
      position: relative;
      top: 50%;
      transform: translateY(-50%); } }

.footer__large {
  margin: 0 auto;
  text-align: center; }
  .footer__large span {
    display: block; }
  .footer__large--down {
    color: #ffffff; }

.heading__email {
  margin-bottom: 15.6rem; }
  .heading__email::after {
    content: "";
    display: table;
    clear: both; }
  .heading__email--text {
    float: right; }

.heading__large {
  margin: 0 auto;
  text-align: center; }
  .heading__large span {
    display: block; }
