//colors
$color-primary-dark:#000000;
$color-primary-light:#ffffff;

//font
$font-small:2.4rem;
$font-medium: 3.8rem;
$font-large:2.4rem;

//grid
$grid-width: 114rem;
$grid-gutter-vertical:3rem;
$grid-gutter-horizontal: 3rem;
